@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Orbitron", sans-serif;
  overflow-y: scroll;
}
body::-webkit-scrollbar {
  display: none;
}

.top-nav {
  background: rgba(0, 0, 0, 0);
}
.name {
  font-weight: 900;
  font-size: 25px;
  font-family: sans-serif;
}
.name-items {
  margin-top: 0.8vh;
  font-size: 20px;
}
.video-section {
  height: 100vh;
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}

.desktop-video {
  display: block !important;
  width: 100%;
}

.mobile-video {
  display: none;
  height: 100vh;
}

.dark-overlay {
  height: 100vh;
  background: rgba(0, 0, 0, 0.37);
  position: absolute;
  z-index: 1000;
  top: 0;
  width: 100%;
  margin: 0;
}

.dark-overlay nav {
  position: fixed;
  top: 0;
  width: 100%;
}

.content {
  width: 100%;
}
.content svg {
  cursor: pointer;
}
.content div {
  margin: 60px;
}

@media screen and (max-width: 480px) {
  .name {
    font-size: 16px;
  }
  .name-items {
    margin-top: 0.7vh;
    font-size: 10px;
  }
  .desktop-video {
    display: none !important;
  }

  .mobile-video {
    display: block !important;
  }
}

.album-header {
  background: black;
  color: white;
  margin: 0;
  border-radius: 0;
  padding: 50px;
}
.work-section {
  background: black;
  color: black;
  white-space: nowrap;
  overflow: auto;
}
.work-section::-webkit-scrollbar {
  display: none;
}

.work-section .card {
  width: 20%;
  margin: 0 2%;
  background: whitesmoke;
  color: black;
  display: inline-block;
}
.work-section p {
  text-align: justify;
  white-space: normal;
}

.work-section a {
  background: black;
  border-color: black;
}

.work-section a:hover {
  background: rgba(0, 0, 0, 0.726);
}

@media screen and (max-width: 480px) {
  .work-section .card {
    width: 70%;
  }
}
